@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
.login-signup {
  background-size: contain;
  background-color: #f2f2f2;
  padding: 60px 12px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
}
.details
{
  list-style-type:none;
  display:inline;
  font-family:'poppins';
  font-size: 1.2rem;
  font-weight: 800;
  letter-spacing: .05rem;
  color:   #11998e;
  padding: 0px 5px 5px 5px;
  margin-right:10px;
}
.otp
{
  background-color: #fff;
  padding: 20px;
  max-width: 480px;
  margin: auto;
}
.or {
  width: 80%;
  margin: 16px auto;
  margin-top: 20px;
  font-family: 'poppins';
  text-align: center;
  color: #c8c8c8;
  span {
    &:before,
    &:after {
      content: "";
      display: inline-block;
      height: 10px;
      border-top: 1px solid #d3d4d5;
      position: relative;
      top: 6px;
    }
    &:before {
      width: 42%;
      margin-right: 5px;
    }
    &:after {
      width: 43%;
      margin-left: 5px;
    }
  }
}
.login-tab-wrapper {
  max-width: 480px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  margin: auto;
  padding: 20px;
}
.social-btn-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  .google-btn {
    border-color: #ec3032;
    background-color: #ec3032;
    color:white;
    width: 48%;
    height: 50px;
    margin: 1%;
    &:hover {
      background-color: white;
      color:#ec3032;
    }
    .MuiIcon-root {
      width: auto;
    }
  }
  .facebook-btn {
    border-color: #415aa7;
    background-color:  #415aa7;
    color:white;
    width: 48%;
    height: 50px;
    margin: 1%;
    &:hover {
      color: #415aa7;
      background-color: white;
    }
    .MuiIcon-root {
      width: auto;
    }
  }
}

.continue-text {
  color: #25292b;
  font-size: 14px;
  padding: 10px 10px 10px 0;
  margin: 0;
  font-weight: 600;
  line-height: normal;
}

.terms-text {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  line-height: 15px;
  color: #929495;
  font-family: Poppins;
}
.login-wrapper {
    margin-top: 50px;
    margin-bottom: 50px;
  .MuiFab-extended.MuiFab-sizeSmall.otp-btn {
    font-size: 12px;
    text-transform: none;
    margin: 8px;
    position: absolute;
    right: 0;
    top: -20px;
    width: 158px;
    font-family: Poppins;
    font-weight: bold;
  }
  .forgot-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .login-btn {
    width: 100%;
    height: 55px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 17px;
  }
}
.signup-wrapper {
  .info-text {
    font-size: 14px;
    color: #25292b;
    font-family: Poppins;
  }
  .subscribe_text {
    .MuiTypography-body1 {
      font-size: 13px;
    }
    .MuiCheckbox-root {
      padding: 0 9px;
    }
    align-items: flex-start;
    color: #929495;
    margin-top: 16px;
  }
}
@media screen and (max-width: 576px) {
  .login-signup {
    padding: 12px;
  }
}
